.button {
    padding: 10px 30px;
    text-align: center;
    align-items: center;
    background-color: #eeefa8;
    border: 4px solid;
    border-color: #000000;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    box-shadow: 4px 4px 0px #000000;
    position: relative;
    width: 186px;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    font-family: "Darker Grotesque", Helvetica;
    font-weight: 1000;
    font-size: 25px;
}

.button:hover {
    box-shadow: 0 0 0 #000000;
    transform: translate(4px, 4px);
}
